@include mediaLg {
  .projects {
    grid-template-columns: repeat(5, 1fr);
  }
}
@include mediaSm {
  main {
    align-items: center;
    text-align: center;

    h1 {
      line-height: 1;
      margin-top: 15vh;
      margin-bottom: 2rem;
      font-size: 3rem !important;
    }
  }

  div.menu-branding,
  ul.menu-nav {
    float: none;
    width: 100%;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  div.menu-branding {
    height: 30vh;
    transform: translate3d(-100%, 0, 0);

    .portrait {
      width: 120px;
      height: 120px;

      .img {
        width: 115px;
        height: 115px;
      }
    }
  }
  ul.menu-nav {
    height: 70vh;
    transform: translate3d(100%, 0, 0);

    .nav-link {
      margin-bottom: 20px;
      font-size: 1rem;
    }
  }

  //About
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }

  // Projects
  .projects {
    grid-template-columns: 1fr;
  }
}
