@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
body {
  @include background();
  color: #fff;
  background: $primary-color;
  height: 100%;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
    margin: 0 0 1rem 0;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 1.5rem;
  min-height: calc(100vh - 60px);

  &.blur {
    @include easeOut;
    filter: blur(2px);
  }
  .icons {
    a {
      margin: auto;
      padding: 1rem;
      font-size: 1.5rem;
      display: inline-block;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;

    .lg-heading {
      margin-top: 20vh;
    }
  }
}

// About Me
main#about {
  .lg-heading {
    font-size: 6rem;
  }
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .portrait {
    margin: auto;
    grid-area: bioimage;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 3px solid $secondary-color;
    .img {
      background: url("../../img/portrait3.jpeg");
      width: 245px;
      height: 245px;
      background-size: cover;
      border-radius: 50%;
      -webkit-filter: grayscale(1);
      @include easeOut;
      &:hover {
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.1);
      }
    }
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    h3 {
      font-size: 2.5rem;
      color: $secondary-color;
      font-weight: 500;
      text-decoration: overline;
    }
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: darken($primary-color, 5);
    padding: 0.5rem;
    border-bottom: 3px solid $secondary-color;
    text-align: center;
    h6 {
      color: $secondary-color;
    }
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "info item1 item2"
    "item3 item4 item5";
  grid-template-columns: repeat(3, 1fr);

  .item {
    position: relative;
    -webkit-filter: grayscale(1);
    @include easeOut;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 30px darken($primary-color, 50);
      border-color: $secondary-color;
      -webkit-filter: grayscale(0);
    }

    &:hover p {
      box-shadow: 0 0 30px darken($primary-color, 50);
      opacity: 0;
    }
  }
  .info {
    grid-area: info;
  }
  .item-1 {
    grid-area: item1;
  }
  .item-2 {
    grid-area: item2;
  }
  .item-3 {
    grid-area: item3;
  }
  .item-4 {
    grid-area: item4;
  }

  .item-5 {
    grid-area: item5;
  }

  img {
    width: 100%;
    height: 100%;
    box-shadow: 5 5 30px darken($primary-color, 100);
    border-radius: 5px;
    cursor: default;
  }

  p {
    @include easeOut;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    background: rgba($primary-color, 0.9);
  }
}

// Button Styles
.btn-light {
  width: 100%;
  background: darken(#fff, 50);
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: #fff;
  }
}

.boxes {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  margin-top: 2rem;

  div {
    color: #fff;
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1rem 1rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      color: rgb(0, 0, 0);
      padding: 0.5rem 1.5rem;
      background: darken($primary-color, 5);

      span {
        color: #fff;
      }
    }
  }
}

#main-footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background: darken($primary-color, 5);
  padding: 1rem;
}

@import "responsive";
